Ejercicios Plataforma .NET/Modulo 7/Modulo 7/10. DemoWfServiceCliente/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schema.develop.com/2010/math" elementFormDefault="qualified" targetNamespace="http://schema.develop.com/2010/math" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Sumar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xIn" type="xs:int" />
        <xs:element minOccurs="0" name="yIn" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sumar" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>