Ejercicios Introduccion .NET/Final/Curso.AplicacionFinal/Curso.AplicacionFinal.MVC/Service References/AlumnoService/AlumnoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlumnoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49275/AlumnoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49275/AlumnoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49275/AlumnoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Curso.AplicacionFinal.WCF.Modelo" />
      <xsd:import schemaLocation="http://localhost:49275/AlumnoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:49275/AlumnoService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlumnoService_GetAlumnos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlumnos" />
  </wsdl:message>
  <wsdl:message name="IAlumnoService_GetAlumnos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlumnosResponse" />
  </wsdl:message>
  <wsdl:message name="IAlumnoService_GetAlumnoById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlumnoById" />
  </wsdl:message>
  <wsdl:message name="IAlumnoService_GetAlumnoById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlumnoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAlumnoService_SaveAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveAlumno" />
  </wsdl:message>
  <wsdl:message name="IAlumnoService_SaveAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="IAlumnoService_DeleteAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAlumno" />
  </wsdl:message>
  <wsdl:message name="IAlumnoService_DeleteAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAlumnoResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlumnoService">
    <wsdl:operation name="GetAlumnos">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumnoService/GetAlumnos" message="tns:IAlumnoService_GetAlumnos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumnoService/GetAlumnosResponse" message="tns:IAlumnoService_GetAlumnos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlumnoById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumnoService/GetAlumnoById" message="tns:IAlumnoService_GetAlumnoById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumnoService/GetAlumnoByIdResponse" message="tns:IAlumnoService_GetAlumnoById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumnoService/SaveAlumno" message="tns:IAlumnoService_SaveAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumnoService/SaveAlumnoResponse" message="tns:IAlumnoService_SaveAlumno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumnoService/DeleteAlumno" message="tns:IAlumnoService_DeleteAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumnoService/DeleteAlumnoResponse" message="tns:IAlumnoService_DeleteAlumno_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlumnoService" type="tns:IAlumnoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAlumnos">
      <soap:operation soapAction="http://tempuri.org/IAlumnoService/GetAlumnos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlumnoById">
      <soap:operation soapAction="http://tempuri.org/IAlumnoService/GetAlumnoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAlumno">
      <soap:operation soapAction="http://tempuri.org/IAlumnoService/SaveAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAlumno">
      <soap:operation soapAction="http://tempuri.org/IAlumnoService/DeleteAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlumnoService">
    <wsdl:port name="BasicHttpBinding_IAlumnoService" binding="tns:BasicHttpBinding_IAlumnoService">
      <soap:address location="http://localhost:49275/AlumnoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>