Ejercicios Introduccion .NET/Final/Curso.AplicacionFinal/Curso.AplicacionFinal.MVC/Service References/AlumnoService/AlumnoService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Curso.AplicacionFinal.WCF.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Curso.AplicacionFinal.WCF.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49275/AlumnoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfAlumnos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alumnos" nillable="true" type="tns:Alumnos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlumnos" nillable="true" type="tns:ArrayOfAlumnos" />
  <xs:complexType name="Alumnos">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FechaNac" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NroLegajo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Alumnos" nillable="true" type="tns:Alumnos" />
</xs:schema>