Ejercicios Introduccion .NET/Final/Curso.AplicacionFinal/Curso.AplicacionFinal.MVC/Service References/AlumnoService/AlumnoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49275/AlumnoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Curso.AplicacionFinal.WCF.Modelo" />
  <xs:element name="GetAlumnos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumnosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Curso.AplicacionFinal.WCF.Modelo" minOccurs="0" name="GetAlumnosResult" nillable="true" type="q1:ArrayOfAlumnos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumnoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumnoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Curso.AplicacionFinal.WCF.Modelo" minOccurs="0" name="GetAlumnoByIdResult" nillable="true" type="q2:Alumnos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Curso.AplicacionFinal.WCF.Modelo" minOccurs="0" name="alumno" nillable="true" type="q3:Alumnos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Curso.AplicacionFinal.WCF.Modelo" minOccurs="0" name="SaveAlumnoResult" nillable="true" type="q4:Alumnos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Curso.AplicacionFinal.WCF.Modelo" minOccurs="0" name="alumno" nillable="true" type="q5:Alumnos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlumnoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>